<section class="about col-md-3 transition">
  <a href="/">
    <img class="avatar"
      data-image="<%- gravatar('jon@coffeeandcode.com', 140) %>"
      data-image-highrez="<%- gravatar('jon@coffeeandcode.com', 280) %>"
      src="<%- gravatar('jon@coffeeandcode.com', 140) %>"
      height="140" width="140" />
  </a>

  <h1>Jon Knapp</h1>

  <p class="title">Digital Consultant @ <br />
    <a href="http://coffeeandcode.com">Coffee and Code</a></p>

  <ul class="links">
    <li><a href="https://github.com/coffeeandcode">Github</a></li>
    <li><a href="https://twitter.com/coffeeandcode">Twitter</a></li>
    <li><a href="http://feeds.feedburner.com/jonknapp-com" rel="alternate" type="application/rss+xml">RSS</a></li>
  </ul>
</section>
