body {
  background-color: #FDFDFD;
  color: #011C26;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
}

a {
  border: transparent 1px solid;
  color: @linkColor;
  text-decoration: none;
}

a:hover {
  border-bottom: @linkColorHover 1px dashed;
  text-decoration: none;
}

h1 {
  font-size: 1.8em;
  line-height: 1.6em;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.4em;
  line-height: 1.6em;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 0.4em 0;
}

p {
  margin: 1.2em 0;
}

pre {
  background-color: #f8f8ff;
  border: 1px solid #dedede;
  padding: 10px;
}

.posts {
  border-top: 1px solid #F2F2F2;
  margin-top: 30px;
}

.posts article {
  margin: 20px 0;
}

.transition {
  .transition(filter, 1s);
  .transition(opacity, 1s);
}