<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Jonathan Knapp" />
    <meta name="description" content="The officially official website of Jonathan Knapp." />
    <title>{{ page.title }}</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="Blog RSS" href="/rss.xml"/>
  </head>
  <body>
    <header>
      <h1><a href="/">{{ page.title }}</a></h1>
    </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
