<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="{{ page.author | default: site.defaults.author }}" />
    <meta name="description" content="{{ site.description }}" />
    <title>{% page_title %}</title>
    {% css_asset_tag global %}[
      /_assets/css/main.less
    ]{% endcss_asset_tag %}
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="Blog RSS" href="http://feeds.feedburner.com/jonknapp-com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    {% if page.id %}
    <header>
      <a href="/">&laquo; {{ site.url }}</a>
    </header>
    {% endif %}

    <div class="container-fluid">
      <div class="row-fluid">
        <section class="span9" role="main">
          <div class="content">
            {{ content }}
          </div>
        </section>

        <section class="about span3 transition">
          <a href="/">
            <img class="avatar"
              data-image="http://gravatar.com/avatar/c6caef08c5eb2951bee325de5df53def?s=140"
              data-image-highrez="http://gravatar.com/avatar/c6caef08c5eb2951bee325de5df53def?s=280"
              height="140" width="140" />
          </a>
          <h1>Jon Knapp</h1>
          <p class="title">Byte Architect @ <br />
            <a href="http://coffeeandcode.com">Caffeinated Solutions</a></p>
          <ul class="links">
            <li><a href="https://github.com/coffeeandcode">Github</a></li>
            <li><a href="https://twitter.com/coffeeandcode">Twitter</a></li>
            <li><a href="http://feeds.feedburner.com/jonknapp-com" rel="alternate" type="application/rss+xml">RSS</a></li>
          </ul>
        </section>
      </div>
    </div>

    {% javascript_asset_tag global %}[
      /_vendor/zepto/zepto.min.js,
      /_vendor/lodash/lodash.min.js,
      /_vendor/backbone/backbone-min.js,
      /_vendor/simply-deferred/deferred.min.js,
      /_assets/js/zepto.deferred.js,
      /_assets/js/analytics.js,
      /_assets/js/views/image.js,
      /_assets/js/main.js
    ]{% endjavascript_asset_tag %}
  </body>
</html>
