<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="{{ page.author | default: site.defaults.author }}" />
    <meta name="description" content="{{ site.description }}" />
    <title>{% page_title %}</title>
    {% css_asset_tag global %}[
      /_assets/css/main.css
    ]{% endcss_asset_tag %}
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="Blog RSS" href="/rss.xml"/>
  </head>
  <body>
    {% if page.id %}
    <header>
      <a href="/">&laquo; {{ site.url }}</a>
    </header>
    {% endif %}

    <section role="main">
      <div class="content">
        {{ content }}
      </div>
    </section>

    <section class="about transition">
      <img class="avatar" src="http://gravatar.com/avatar/c6caef08c5eb2951bee325de5df53def?s=140" height="140" width="140" />
      <h1>Jon Knapp</h1>
      <p class="title">Byte Architect @ <br />
        <a href="http://coffeeandcode.com">Caffeinated Solutions</a></p>
      <ul class="links">
        <li><a href="https://github.com/coffeeandcode">Github</a></li>
        <li><a href="https://twitter.com/coffeeandcode">Twitter</a></li>
        <li><a href="/rss.xml">RSS</a></li>
      </ul>
    </section>

    {% javascript_asset_tag global %}[
      /_assets/js/analytics.js
    ]{% endjavascript_asset_tag %}
  </body>
</html>
